@media (max-width: 600px) {
  header nav {
    width: 100vw;
    max-width: 100vw;
    min-width: 0;
    box-sizing: border-box;
    padding: 0 10px;
  }
  header nav ul {
    width: 100vw;
    max-width: 100vw;
    min-width: 0;
    box-sizing: border-box;
    padding: 0 0 10px 0;
    margin: 0;
  }
  header nav ul li a {
    padding: 8px 8px;
    font-size: 1rem;
  }
  .top-bar {
    padding: 0;
  }
}
@media (max-width: 600px) {
  header nav {
    width: 100vw;
    max-width: 100vw;
    min-width: 0;
    box-sizing: border-box;
  }
  header nav ul {
    width: 100vw;
    max-width: 100vw;
    min-width: 0;
    box-sizing: border-box;
  }
  header nav ul li .submenu:has(li:nth-child(8)) {
    min-width: 0;
    width: 95vw;
    max-width: 95vw;
    box-sizing: border-box;
    left: 0;
    right: 0;
  }
}
html, body {
  overflow-x: hidden;
}
@media (max-width: 600px) {
  header nav ul li .submenu:has(li:nth-child(8)) {
    min-width: 0;
    width: 95vw;
    max-width: 95vw;
    box-sizing: border-box;
    left: 0;
    right: 0;
  }
}
/* Responsive para el submenú grid largo */
@media (max-width: 900px) {
  header nav ul li .submenu:has(li:nth-child(8)) {
    min-width: 220px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    left: 0;
    transform: none;
  }
}

@media (max-width: 600px) {
  header nav ul li .submenu:has(li:nth-child(8)) {
    min-width: 160px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    left: 0;
    transform: none;
  }
}
body{
width: 100%;
margin: 0;  
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
  text-align: center;
}


.fotoPrincipal{
  width: 100px;
  height: auto;
  display: block;
  margin: 10px auto;
  transition: transform 1s ease; 
  
}
.fotoPrincipal:hover {
   
    transform: scale(0.80);
}




.top-bar nav ul li {
  position: relative;
}



.top-bar nav ul li a:hover {
  background-color: #ffffff;
}



.top-bar nav ul li:hover > .submenu {
  display: block;
  
}

.top-bar nav ul li .submenu li a {
  padding: 10px 15px;
  color: rgb(187, 11, 11);
}

.top-bar nav ul li .submenu li a:hover {
  background-color: #ffffff;
}
header{
 text-align: center;
   
}

header nav ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

header nav ul li {
  position: relative;
}

header nav ul li a {
  display: block;
  padding: 15px 20px;
  color: rgb(187, 11, 11);
  text-decoration: none;
}

header nav ul li a:hover {
  background-color: #ffffff;
}


header nav ul li .submenu {
    opacity: 0;            
    visibility: hidden;    
    transform: translateX(200px); 
    transition: opacity 0.4s ease-out, transform 0.4s ease-out, visibility 0.4s; 
    
    
    position: absolute;
    top: 100%;
    left: 0; 
    background-color: #ffffff;
    padding: 0;
    min-width: 200px;
    z-index: 1000;
}



header nav ul li .submenu:has(li:nth-child(8)) {
 opacity: 0;
    visibility: hidden;
    transform: translateX(200px); 
    transition: opacity 0.4s ease-out, transform 0.4s ease-out, visibility 0.4s;

   
    position: absolute;
    top: 100%;
    left: 0; 
    background-color: #fff;
    min-width: 300px;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 0;
}

header nav ul li:hover .submenu:has(li:nth-child(8)) {
  display: grid;
  opacity: 1;
    visibility: visible;
    transform: translateX(0);
}


header nav ul li:hover .submenu {
  display: block;
  opacity: 1;                 
    visibility: visible;       
    transform: translateX(0);
}


header nav ul li .submenu li a {
  display: block;
  padding: 10px 15px;
  color: rgb(0, 0, 0);
  
}

header nav ul li .submenu li a:hover {
  background-color: #ffffff;
}

header img[alt="panoramica toledo"] {
  width: 100%;  
  height: 200px;
  object-fit: cover;
  margin: 0;
  margin-top: 130px;
}
header img[alt="lupa"] {
  width: 20px;  
  height: auto;
}
.flechaAbajo{
  width: 8px;  
  height: auto;
}

.imagenPequeña{
  width: 12px;  
  height: auto;
  margin-right: 5px;
}
span{
    font-size: 20px;
    color: rgb(164, 140, 6)
}

.imagenPequeña {
  width: 20px;   
  height: auto;
  margin-right: 5px; 
}

p {
  display: flex;
  align-items: center;
  gap: 6px;
  color: rgb(111, 111, 111);
   
}
.p1{ 
  color: rgb(164, 140, 6)  
}

p img.imagenPequeña {
  width: 16px;
  height: auto;
}

.fotoPrincipal{

   width: 80px;
   height: 60px; 

}

.grid-fotos {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, auto);   
  gap: 20px; 
  padding: 20px;
}

.grid-fotos div {
  padding: 10px;
  text-align: center;
  background: #f9f9f9;
}

.grid-fotos img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  .grid-fotos {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 600px) {
  .grid-fotos {
    grid-template-columns: 1fr;
  }
}

footer{
 display: grid;
 grid-template-columns: repeat(4, 1fr); 
 grid-template-rows: repeat(1, auto);
 gap: 20px;  
 background-color: black;
 
}
footer h2{
    color: rgb(164, 140, 6)
     
}
footer div{
  margin-left: 35px;
}

footer p{
    color: white;
    
}
footer img{
   max-width:310px ;
}
footer li::marker{
        color: rgb(164, 140, 6) 

}
@media (max-width: 600px) {
  footer {
    grid-template-columns: 1fr; 
    grid-template-rows: auto;   
    padding: 20px;              
  }
}

@keyframes show {
  from {
    opacity : 0;
    scale: 25%; 
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
.grid-fotos img{

   view-timeline-name: --image;
   view-timeline-axis: block;
   animation-timeline: --image;
   animation-range: entry 25% cover 50%;
   animation-name: show;
   animation-fill-mode: both;
}



.formulario {
  width: 700px;
  max-width: 100%;
  margin: 40px 0 40px 240px;
  background-color: #fff;
  font-family: "Segoe UI", sans-serif;
  color: #5a4633;
}
.formulario h1 {
  text-align:left;
  margin-bottom: 60px;
  color: #8B6A35;
}


.fila {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
}


.campo {
  position: relative;
  flex: 1;
  margin-bottom: 10px;
}

.campo input,
.campo textarea {
  width: 100%;
  padding: 12px 14px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 4px;
  font-size: 1em;
  transition: all 0.3s ease;
}


.campo label {
  position: absolute;
  top: 16px;
  left: 12px;
  color: #7a7a7a;
  font-size: 0.95em;
  pointer-events: none;
  transition: all 0.3s ease;
}


.campo input:focus,
.campo textarea:focus {
  outline: none;
  background-color: #e8e6e3;
  box-shadow: 0 0 5px rgba(250, 248, 248, 0.4);
}


.campo input:focus + label,
.campo input:not(:placeholder-shown) + label,
.campo textarea:focus + label,
.campo textarea:not(:placeholder-shown) + label {
  top: -25px;
  left: 8px;
  font-size: 0.8em;
  color: #8B6A35;
  background: #fff;
  padding: 0 4px;
}


.campo.textarea {
  margin-bottom: 20px;
}


.formulario input[type="submit"] {
  position: relative;
  display: block;
  margin-left: auto;
  background-color: transparent;
  color: #8B6A35;
  border: 2px solid #8B6A35;
  border-radius: 8px;
  padding: 10px 25px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}


.formulario input[type="submit"]:hover {
  background-color: #8B6A35;
  color: #fff;
  box-shadow: 0 4px 15px rgba(139, 106, 53, 0.5);
  transform: translateY(-3px);
}


.formulario input[type="submit"]:active {
  transform: translateY(1px);
  box-shadow: 0 0 5px rgba(139, 106, 53, 0.4);
}


.formulario input[type="submit"]::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
  transition: all 0.6s ease;
}

.formulario input[type="submit"]:hover::after {
  left: 125%;
}

.privacidad {
  margin-top: 10px;
  margin-bottom: 20px;
}

.privacidad h4 {
  font-size: 1em;
  color: #585858;
  margin-bottom: 8px;
}

.privacidad .check {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.95em;
}

.privacidad input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #5a4633; 
}

.privacidad a {
  color: #838383;
  font-weight: bold;
  text-decoration: none;
}
.privacidad span {
  color: #8B6A35; 
  font-weight: bold;
}

.privacidad a:hover {
  text-decoration: underline;
}

.pContacto {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #525151;
  line-height: 1.6;
  text-align: left; 
  white-space: normal;
  display: block; 
}

.pContacto strong {
  color: black;
  font-weight: bold;
}

.pContacto .rojo {
  color: #c00; 
  font-size: inherit;
}

.pContacto .telefono {
  color: #c00;
  font-size: inherit;
}
.contenedor-contacto {
  display: flex;          
  gap: 40px;              
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", sans-serif;
  color: #5a4633;
  
}

.pContacto {
  flex: 2 1 0;            
  min-width: 0;           
  line-height: 1.5;
}

.columna-derecha {
  flex: 0 0 300px;        
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #9c7f53;
}



.busca-ruta label {
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
}

.busca-form {
  display: flex;
}

.busca-form input[type="text"] {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  font-size: 1em;
  width: 150px;
}

.busca-form button {
  padding: 6px 15px;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 1em;
}

.contacta-nosotros h3 {
  margin: 0 0 6px 0;
  font-weight: 600;
  font-size: 1.1em;
}

.contacta-nosotros p {
  margin: 0;
  font-size: 0.9em;
  line-height: 1.3em;
}

@media (max-width: 900px) {
  
  .contenedor-contacto {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0 20px;
  }

  .columna-derecha {
    flex: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .pContacto {
    flex: none;
    width: 100%;
  }
}

@media (max-width: 600px) {
  
  .formulario {
    width: 100%;
    margin: 20px auto;
    padding: 0 10px;
  }

  
  .busca-form {
    flex-direction: column;
  }

  .busca-form input[type="text"],
  .busca-form button {
    width: 100%;
    border-radius: 4px;
    border-right: 1px solid #ccc;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .fila {
    flex-direction: column;
    gap: 20px; 
  }

  .campo {
    width: 100%; 
  }

  
  .formulario input[type="submit"] {
    width: 100%;
  }
}








