apiVersion: v1
kind: Pod
metadata:
  name: mysql
spec:
  containers: 
  - name: mysql
    image: mysql:latest
    env:
      - name: MYSQL_ROOT_PASSWORD
        value: "1234"
      - name: MYSQL_DATABASE
        value: "dbtest"
      - name: MYSQL_USER
        value: "user"
      - name: MYSQL_PASSWORD
        value: "1234"
    ports:
    - containerPort: 3306
      name: mysql

