apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: nginx
  labels:
    app: back
spec:
  replicas: 7
  selector:
    matchLabels:
      app: back
  template:
    metadata:
      labels:
        app: back
    spec:
      containers:
      - name: nginx
        image: nginx:latest