.grafica-container {
    width: 90%;
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border: 3px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-sizing: border-box;
}

#grafica {
    width: 100% ;
    height: 100%;
}